

.admin_nav {
  width: 100vw;
  height: 60px;
  background-color: #262626;
  display: flex;
  align-items: center;
  padding: 0 60px; /* Add horizontal padding for breathing space */
}

.return_to_website_button {
  width: 226px;
  height: 34px;
  background-color: #424242;
  color: white;
  font-family:"Eb garamond";
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}

.admin_nav_back{
    display: none;
}

@media(max-width:768px){
    .admin_nav {
        width: 100vw;
        height: auto;
        padding:20px 30px;
         
    }

    .return_to_website_button {
        display: none;
    }

    .admin_nav_back{
        display: block;
        font-family: "Eb garamond";
        color: white;
        font-size: 20px;
        text-decoration: underline;
        cursor: pointer;
    }
}


.admin_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Responsive grid */
.admin_grid {
  display: grid;
 grid-template-columns: repeat(3, 295px);
  gap: 40px;
  
  padding: 30px;
}

/* Card style */
.admin_card {
height: 205px;
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-family: "Eb garamond";
}

.admin_card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.admin_card_icon {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.admin_card_label {
  font-weight: 500;
  color: #333;
}


@media (max-width: 1100px) {
  .admin_grid {
    grid-template-columns: repeat(2, 295px);
  }
}

@media (max-width: 768px) {
  .admin_grid {
    grid-template-columns: repeat(1,75vw);
    justify-content: center;
  }

  .admin_card {
    padding: 20px;
  }

  

} 

.admin_card_icon {
  width: auto;
  height: 50px;
  margin-bottom: 15px;
}
