.pathways_container1,
.pathways_container2,
.pathways_grid,
.path_card,
.path_card_label,
.pathways_header,
.pathways_desc {
  font-family: 'EB Garamond';
}


.pathways_container1 {
  height: 50vh;
  background: url("/images/pathways banner.png");
  background-blend-mode: darken;
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  margin: 0;
}

.pathways_container2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 30px;
}

.pathways_section {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.pathways_inner {
  max-width: 991px;
  width: 100%;
  box-sizing: border-box;
  
  

}

.pathways_header {
  font-size: 32px;
  color: black;
  margin: 60px 30px 30px 0;
}

.pathways_desc {
  font-size: 20px;
  line-height: 1.9;
}

.pathways_section1_extra1 {
  font-size: 22px;
  margin-bottom: 30px;
}

.pathways_section1_extra2 {
  font-size: 22px;
}

.pathwayssection2_head {
  font-size:24px;
}

.pathwayssection2_desc {
  margin-bottom: 40px;
}

.pathways_grid {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  gap: 30px;
  justify-content: center;
  padding: 30px 0;
  max-width: 100%;
  overflow-wrap: break-word;
  
}

.path_card {
  max-width: 257px;
  height: 219px;
  background: white;
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 0 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

}

.path_card:hover {
  transform: scale(1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.path_card_img {
  max-width: 110px;
  height: auto;
  margin: 0 auto 12px auto;
  transition: transform 0.3s ease;
}


.path_card_label {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
}

.pathways_container1_image{
  height: 250px;
  position: absolute;
  left: 0;
}

@media (max-width: 1100px) {
  .pathways_grid {
    grid-template-columns: repeat(2, 278px);
  }
}

@media (max-width: 670px) {
  .pathways_grid {
    grid-template-columns: repeat(1, 278px);
    gap: 40px;
  }

  .path_card {
    
    max-width: 80vw;
  }
}

@media (max-width: 768px) {

  .pathways_header {
    font-size: 22px;
    margin: 40px 0 20px 0;
  }

  .pathways_section1_extra1 {
  font-size: 17px;
  margin-bottom: 35px;
}

.pathways_section1_extra2 {
  font-size: 22px;
}


.pathways_desc {
  font-size: 17px;
}

}


@media (max-width: 984px) {

.pathways_container1_image{
  position: static;
}
   
}


@media (max-width: 768px) {
 .pathways_last{
    margin-bottom: 60px;
}

.pathways_container1_image{
  height: 175px;
}
   
}

@media (max-width: 468px) {

.pathways_container1_image{
  height: 130px;
}

}





@media (max-width: 355px) {
  .pathways_grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

.pathways_container1_image{
  height: 110px;
}
  .path_card {
    
    height: auto;
    padding: 16px;
    margin: 0 30px;
  }

  .path_card_img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .path_card_label {
    font-size: 14px;
  }
}

.pathways_last{
    margin-bottom: 90px;
}


@media (max-width: 319px) {


.pathways_container1_image{
  display: none;
}
}