/* Navigation bar */
.achievement_panel_nav {
  width: 100vw;
  height: 400px;
  padding: 30px 0;
  background-color: #4285F4;
}

.achievement_panel_nav_back {
height: 45px;
  width: auto;
  position: absolute;
  left: 30px;
  cursor: pointer;
}

.achievement_panel_nav_text {
  font-size: 32px;
  font-family: "Eb garamond";
  color: white;
  margin-bottom: 75px;
}

.achievement_panel_nav_text1{
    color: white;
     font-family: "Eb garamond";
     font-size: 24px;
       margin-bottom: 30px;

}


.achievement_panel_nav_text2{
color: white;
     font-family: "Eb garamond";
     font-size: 20px;
     margin-bottom: 30px;

}

.achievement_panel_nav_button{
    width: 100px;
    height: 39px;
    background-color: white;
    color: #4285F4;
    font-family: "Eb garamond";
     font-size: 16px;
     cursor: pointer;
}

.achievement_panel_nav_button:hover {
  background-color: #EEEEEE;
}

.achievement_panel_nav_content{
    margin-left: 288px;
}


.achievement_panel_button{
  width: 100px;
    height: 39px;
    background-color: #4285F4;
    color: white;
    font-family: "Eb garamond";
     font-size: 16px;
     cursor: pointer;
     margin:0 20px 25px 0;

}

.achievement_panel_button:hover {
  background-color: #3367D6;  /* slightly darker blue */
  color: #e0e0e0;             /* light gray for contrast */
}

.achievement_card_head {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  font-family: "Eb garamond";
  margin-bottom: 5px;
  text-transform: uppercase;
}

.achievement_card_desc {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Eb garamond";
  color: #000;
  line-height: 1.5;
}

.achievement_display{
  width: 250x;
}

.achievement_display_outer{
   margin-left: 288px;
}

.achievement_panel_line{
 height:1px;
  width: 100vw;
  background-color: #ccc;
  margin: 50px 0;
  
}

.achievement_panel_all_achievements{
  font-family: "Eb garamond";
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
margin-left:288px ;
}


@media (max-width: 1000px) {

.achievement_panel_nav_content{
    margin-left: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
    text-align: center;
}

.achievement_display_outer{
   margin-left: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.achievement_panel_all_achievements{
  text-align: center;
  font-size: 24px;
margin-left:0 ;
}




.achievement_panel_nav_text {
  font-size: 24px;
  margin-bottom: 75px;
}

.achievement_panel_nav_text1{
     font-size: 20px;
       margin-bottom: 30px;

}


.achievement_panel_nav_text2{
     font-size: 16px;
     margin-bottom: 30px;

}

.achievement_panel_nav_back {
  left: 20px;
  height: 30px;
}

}
