.home-hero_section_container{
    min-height: 100vh;
    background: 
        linear-gradient(to top, black 0%, rgba(0, 0, 0,.5) 100%), 
        url("/images/SEC05800.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 30px 0 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.home-hero_section{
    color: white;
    max-width: 855px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0 0 100px 0;
    margin:0;
}



.home-hero_section_tm_logo{
    max-width: 150px;
    padding: 0;
    margin: 0;
}
    

.home-tagline {
    font-size: 48px;
    font-family: 'EB Garamond';
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* to center text in flex */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.home-description {
    font-size: 20px;
    font-family: "EB Garamond";
    text-align: center;
    margin: 0;
    padding: 8px 0 0 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}


.home-welcome_message_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 60px 30px 60px 30px ;
}

.home-welcome_message{
    font-family:'EB Garamond';
    font-size: 20px;
    max-width: 855px ;
    margin: 0;
    padding: 0;
}


.home-wm_highlight{
    font-size: 32px;
}




@media screen and (max-width: 480px) {
    .home-tagline{
        display: block;
    }


   

}



@media screen and (max-width: 834px) {

     .home-wm_highlight{
    font-size: 26px;
}
    

    .home-hero_section_container{
        min-height: 80vh;
    }

    .home-hero_section{
        padding:30px 0 0px 0;
    }
    
    .home-hero_section_tm_logo{
        max-width: 100px;
    }
        

    .home-tagline{
        font-size: 30px;
    }

    .home-description{
        font-size: 17px;
    }

    
    .home-welcome_message_container{
        padding: 45px 30px 45px 30px ;
    }

    .home-welcome_message{
        font-size: 17px;
    }

 

    
}
